@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-white: #EBEBEB;
  --color-soft: #9D9595;
  --color-gray: #353535;
  --color-dark: #101010;
  --color-line: #242222;
  --color-deep-dark: #100F0F;
  --font-family: "Inter", sans-serif;
  --line-height: 1.3;
}

body {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-white);
  line-height: var(--line-height);
}

.wrapper {
  @apply max-w-322 mx-auto px-6 sm:px-10;
}

.social-link {
  @apply flex justify-center items-center w-6.5 h-6.5 border border-(--color-gray) rounded-full no-underline;
}

.hero {
  background: linear-gradient(79.11deg, #101010 30.3%, rgba(16, 16, 16, 0) 58.09%, #101010 89.75%), 
  url('./assets/images/grid-pattern.svg');
  background-repeat: no-repeat, repeat;
  background-size: cover, 192px 192px;
  background-position: center, top right;

  @media (max-width: 639px) {
    background: linear-gradient(186.27deg, #101010 54.47%, rgba(16, 16, 16, 0) 75.14%, #101010 85.99%),
    url('./assets/images/grid-pattern.svg');
  }
}

.btn {
  @apply inline-block px-10 py-3 border border-(--color-gray) text-[0.875rem]/[1] sm:text-[0.9375rem]/[1] font-medium text-center whitespace-nowrap;
}